         
<div class="grid-container">

      <div class="banner">
            <input type="file" id="filetag" hidden />
            <label for="filetag" id='bannerBtn'><a>select a banner photo</a></label>
            <br> <img id="preview" accept='image/jpeg,image/gif,image/png' hidden>


      </div>
           <div class="map">
            <div class="map-example">
                <div class="row">
                    <div class="col-lg-6">
                        <input
                            id="pac-input"
                               class="controls"
                              type="text"
                           placeholder="Search Box"/>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <h3>{{name}}</h3>
             <div id='date-info'>
            <h3>Created by {{user.name}} on {{format_date date_created}}</h3>
          </div>
            <div class="info">
               <p>{{description}}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero a nihil repudiandae odio accusamus officia ad est
                    minima impedit quasi ullam nesciunt, sunt optio tempora
                    minus excepturi sapiente molestiae vel.
                    Aenean convallis, tortor eget vehicula vestibulum, sem nibh
                    rutrum sem, vel sodales nisl velit eu ex. Sed hendrerit
                    efficitur sollicitudin. Maecenas tempus augue lacus.</p>
            </div>
   
        </div>
  <div class="pics">
            <form id='post-form' class='post-form' method='post'>
                <label for='files'><a>add photos</a></label>
                <input id='files' type='file' accept='image/jpeg,image/gif,image/png' multiple hidden />

                <div class="photos">
                    <output id='result' />
                </div>
            </form>
        </div>

    

 </div>

