:root {
  --background: #5ecfc9;
}

header {
  margin-bottom: 2rem;
}
/* line under header */
header,
.project:not(:last-child) {
  border-bottom: 1px solid rgb(221, 221, 221);
}

nav {
  padding-bottom: 1rem;
}
p {
  font-size: 1.1rem;
  margin: 0 0 2rem;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #ebebeb;
  text-decoration: none;
}

a:hover {
  color: #ffb8d1;
  font-weight: 600;
}

h1 {
  font-size: 18rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.8rem;
  position: relative;
  background: var(--background);
  color: #ffffff;
  margin: 0rem 0rem 0rem 1rem;
  border-radius: 4px;
}

h1:before {
  display: flex;
  justify-content: center;
  padding-left: 10rem;
  content: "";
  letter-spacing: -2rem;

  position: absolute;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  mix-blend-mode: multiply;
  background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1em,
      #9e2053 1em,
      rgb(255, 207, 102) 20%
    ),
    repeating-linear-gradient(
      85deg,
      #e4fc10,
      #ffc956 1em,
      rgb(255, 79, 108) 1em,
      #3bcdf1 80%
    );
  background-size: 3em 3em, 2em 2em;
  animation-name: ani;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  mix-blend-mode: overlay;
}

h3 {
  font-size: x-large;
}
.col-md-5 {
  color: #e0e0e0;
}
body {
  background-color: var(--background);
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(64, 80, 66);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: rgb(64, 80, 66);
  text-decoration: underline;
}

.btn.btn-primary {
  background-color: rgb(248, 193, 193);
  color: rgb(46, 54, 47);
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 0.3rem;
}

.btn.btn-danger:hover {
  background-color: #1a1419;
  color: var(--background);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (150px, 1fr));
  grid-template-rows: 0.7fr 1.3fr;
  gap: 10px 10px;
  grid-template-areas:
    "banner banner map"
    "main main pics";
  font-size: 12pt;
  color: rgb(64, 80, 66);
  background-color: var(--background);
  max-width: 1200px;
  margin: auto;
}

.banner {
  grid-area: banner;
  display: flex;
  width: 100%;
  margin-right: 4rem;
}

#preview {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 100%;
  color: #3f3f3f;
}

.pics {
  grid-area: pics;
  display: flex;

  min-width: 300px;
  max-width: 600px;
  padding-left: 6rem;
}

#result {
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.thumbnail {
  margin: 0.1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
}

label {
  font-size: 1.1rem;
  margin: 0 0 0 0rem;
}

/* google map */

.map {
  grid-area: map;
}

.row {
  display: flex;
  justify-content: right;
  padding-left: 6rem;
}

#map {
  height: 100%;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
.map-example {
  min-width: 400px;
  min-height: 400px;
  border-radius: 4px;
}

.map-example .heading .icon {
  color: #ffb526;
}

.map-example {
  margin-top: 0px;
  padding-bottom: 00px;
}

.map-example .heading {
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
}

.map-example .info {
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
  color: #636363;
}

.map-example .gallery h4 {
  margin-bottom: 30px;
}

.map-example .gallery .image {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.map-example #map {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

/* end google map */

@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0;
  }
}

/* resize for mobile */

@media screen and (max-width: 640px) {
  html,
  body {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    max-width: 100vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-template-rows: 0.7fr 1.3fr;
    gap: 10px 10px;
    grid-template-areas:
      "banner banner map"
      "main main pics ";
    font-size: 12pt;

    max-width: 1200px;
    margin: 0;
  }

  h1 {
    margin: 0;
    max-width: 97%vw;
    font-size: 8rem;
    letter-spacing: -0.3rem;
    display: flex;
    justify-content: center;
  }

  h1:before {
    padding: 2rem 0 0 4rem;
  }

  nav {
    margin: 0rem;
  }
  .header {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  #preview {
    height: 150px;
  }
}

.row {
  padding: 0%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-device-width: 1200px) {
  .grid-container {
    display: block;
    max-width: 97vw;
  }
  html,
  body {
    display: block;
    max-width: 80vw;
  }
  h1,
  header h1:after,
  h1:before {
    max-width: 97vw;
    font-size: 8rem;
  }
}
